<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <i class="fa fa-home" aria-hidden="true"></i> My Homepage
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{ form_start(formSearch, {'attr':{'class':'navbar-form navbar-left', 'role': 'search', 'target': '_blank'}}) }}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        {{ form_row(formSearch.search) }}
                    </div>
                </div>
                {{ form_end(formSearch) }}
                <p class="navbar-text navbar-right">{{ "now"|date('H:i') }}</p>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('ajax_new_feed') }}" data-remote="false" data-toggle="modal" data-target="#entryForm">
                            <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un composant
                        </a>
                    </li>
                    <li>
                        <a href="#" class="refreshAllComponent">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <i class="fa fa-user" aria-hidden="true"></i> Profile
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
</nav>