<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
            <link rel="stylesheet"
                  href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet"
                  href="{{ asset('assets/vendor/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css') }}">
            <link rel="stylesheet"
                  href="{{ asset('assets/vendor/weather-icons/css/weather-icons.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
